body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
 
    text-align: center;
    height: 100vh;
}

h1 {
       color: #000000;
       position: fixed;
       top: 0px;
       left: 50%;
       transform: translate(-50%, 0);
}

a {
     color: #000000;
     font-size: 24px;
     text-decoration: none;
     border-bottom: 4px solid transparent;
     transition: border-bottom 0.5s;
}

a.about {
    position: fixed;
    top: 50%;
    left: 15px;
    transform-origin: 0 0;
    transform: rotate(-90deg) translate(-50%, 0);
}

a.readmore {
    position: fixed;
    top:50%;
    right: 25px;
    transform-origin: 100% 0;
    transform: rotate(90deg) translate(50%, 0);
}

a.buy {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: rotate(180deg) translate(50%, 0);
}
a:hover {
    color:red;
}

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 900px;
    transform: translate(-50%, -50%);
}

